body{
    background-color:#000626;
}

.leaflet-container{ background: #000626; }

.buttonOnDemo {
    z-index:999;
    position:fixed;
    bottom:10;
    left:10;
    padding-left: 10;
    display: none;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


.menuContainer {
    z-index:999;
    position:fixed;
    top:10;
    right:10;
    width: 20%;
    padding-left: 10;
    padding-right: 10;
    display: none;
}

.menu{
    width: 100%;
    background-color: white;
    border: 1px black solid;
    margin-bottom: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.menuHeaderContainer{
    background-color: rgb(190, 190, 190);
}

.menuHeaderContainer:hover{
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}
tr.rowButton:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.menuHeader{
    font-size: 16px;
    display:inline-flex;
    width: 100%;
}
.menuButton{
   text-align: right;
   font-weight: bold;
}

.menuItem{
    border-top: 1px solid gray;
    margin-bottom: 15px;
}

.filterMenuTable{
    width: 100%;
    border-collapse: collapse;
    display: none;
    font-size: 16px;
}
.activityCount {
    color:rgb(75, 75, 75); 
    font-size:14px; 
    float:right;
    margin-top: 2px;
}
td.menuItemLabel{
    width: 30%;
}
.menuOptions {
    cursor: pointer;
    padding: 2.5px;
}
.menuOptions:hover {
    background-color: rgba(0, 255, 255, 0.25);
    border: 1px solid rgba(0, 255, 255, 0.5);
    border-radius: 5px;
}
.selectedSpan {
    background-color: rgba(0, 255, 255, 0.5) !important;
    border: 1px solid cyan !important;
    border-radius: 5px;
}
tr {
    border-top: 1px solid rgb(220, 220, 220);
}
td {
    /* border: 1px solid gray; */
    padding: 10;
    text-align: middle;
}

p {
    font-size: 16px;
}

.ui-widget-header{
    background-image:none;
    background-color:orange;
    text-align: center;
    margin: auto;
}
.ui-slider{
    margin: 10;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 1px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    border-color: black;
    border-radius: 5px;
    background-color: orangered;
}
.ui-slider:hover .ui-slider-handle:hover {
    cursor: w-resize;
}
.ui-widget{
    cursor: w-resize;
}

td img{
    display: none;
}

.dropbtn {
    background-color: rgba(255, 166, 0, 0.8);
    color: black;
    padding: 10px;
    font-size: 16px;
    border: 1px rgb(220, 220, 220) solid;
    width: 100%;
}

.dropColorbtn {
    background-color: rgba(255, 166, 0, 0.8);
    color: black;
    padding: 10px;
    font-size: 16px;
    border: 1px rgb(220, 220, 220) solid;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: left;
    border-collapse: collapse;
}

.dropdown-content tr{
    border-top: solid black 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: orange;}

.checkboxContainer{
    padding: 10px;
    cursor: pointer;
}
.checkboxContainer:hover{
    background-color:white;
}
.checkboxContainer label{
    pointer-events:none;
    margin-left: 5px;
}
.checkboxContainer input{
    pointer-events:none;
}

.colorContainer{
    padding: 10px;
}
.colorContainer:hover{
  background-color:white;
}
.colorContainer label{
  pointer-events:none;
  margin-left: 5px;
}
input[type=color]{
    cursor: pointer;
}

.show {display: block;}

.myCSSClass {
    background: whitesmoke;
    opacity: 1;
    font-size: 14px;
    border: 1px solid black;
    text-align: center;
    width: 200px;
    overflow-wrap: break-word;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word; 
    top: 100;
}
.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}
.leaflet-top {
    z-index: 998;
}
  
/* The Modal (background) */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 91; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: whitesmoke;
    margin: auto;
    padding: 0;
    width: 50%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1.5s;
    animation-name: animatetop;
    animation-duration: 1.5s;
    top: 2.5%;
    padding: 12px;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px;} 
    to {top:2.5%;}
  }
  
  @keyframes animatetop {
    from {top:-300px;}
    to {top:2.5%;}
  }

  .modal-content-2 {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 50%;
    -webkit-animation-name: animatetop2;
    -webkit-animation-duration: 1.5s;
    animation-name: animatetop2;
    animation-duration: 1.5s;
    top: 10%;
    padding: 12px;
  }

   /* Add Animation */
   @-webkit-keyframes animatetop2 {
    from {top:-300px;} 
    to {top:10%;}
  }
  
  @keyframes animatetop2 {
    from {top:-300px;}
    to {top:10%;}
  }
  
.modal-content-2 h1 {
    color: whitesmoke;
    text-align: center;
    margin: 0;
}

.modal-content-2 h4 {
    color: whitesmoke;
    text-align: center;
}

  h2{
      padding: 8px;
      margin: 0;
  }

  p{
      font-size: 18px;
  }
  
.modal-header {
    padding: 2px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    vertical-align: middle;
}
  
.modal-body {
    padding: 2px;
    width: 80%;
    margin: auto;
}
  
.stravaButton{
    width: 30%;
}

.fakeLink {
    color: blue;
    cursor: pointer;
}
.fakeLink:hover {
    text-decoration: underline;
}

#preview{
    height: 98vh;
    width: 98vw;
}

.loader {
    border: 16px solid white; /* Light grey */
    border-top: 16px solid rgb(0, 224, 224); /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
    display: block;
    margin-top: 2.5%;
}

/* modal */
.printModal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.75);
}
.modal-content-3 {
    background-color:#003366;
    margin: 5% auto 15% auto;
    border: 1px solid black;
    width: 40%;
    text-align: center;
    user-select: none;
}
.modal-content-3 h1 {
    color: whitesmoke;
    margin: 10px auto 10px auto;
    font-weight: normal;
}
.printModal * {
    box-sizing: border-box;
}
.row {
    display: flex;
}
.column {
    flex: 50%;
    padding: 10px;
    cursor: pointer;
    background-color: whitesmoke;
}
.column:hover {
    background-color:white;
}
.column div{
    font-size: 20px;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}
.column div.rotated {
    -webkit-transform : rotate(360deg); 
    -moz-transform : rotate(360deg); 
    -ms-transform : rotate(360deg); 
    -o-transform : rotate(360deg); 
    transform : rotate(360deg); 
}
.column p {
    font-size: 1.25em;
}
.closeButton{
    padding:5px 10px 0px 0px; 
    margin: 0px;
    cursor:pointer;
    float: right;
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
}

@media only screen and (max-width: 600px) {
    .menuContainer{
        z-index:999;
        position:fixed;
        top: initial;
        bottom: 0;
        width: 90%;
        padding-left: 10;
        padding-right: 10;
        margin: auto;
    }

    .modal-content{
        width: 90%;
        top: 10%;
    }

    .modal-content-3 {
        width: 90%;
    }

     /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-300px;} 
        to {top:10%;}
    }
    
    @keyframes animatetop {
        from {top:-300px;}
        to {top:10%;}
    }

    .stravaButton{
        width: 50%;
    }
}

/* BigImage styles */
.bigimage-unicode-icon {
    font-size: 19px;
    font-weight: bold;
    display: block;
    border-radius: 4px;
    cursor: pointer;
}

.bigimage-unicode-icon-disable {
    display: none !important;
}

.print-disabled {
    pointer-events: none;
    opacity: 0.3;
}

#print-params  {
    width: 100%;
    text-align: center;
}

#print-params > h6 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    color: inherit;
}

#print-params > input[type="number"] {
    border: 1px solid rgb(153, 153, 153);
    border-radius: 4px;
}

.close {
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 5px;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.operation-btn {
    text-decoration: none;
    display: inline !important;
    padding-right: 3px;
    vertical-align: middle;
    font-size: 20px;
    margin: 3px;
}

.see-btn:before {
    content: '\1F441';
}

.download-btn:before {
    content: '\2B07';
}

#print-loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30px;
    width: 30px;
    margin: -15px 0 0 -15px;
    border: 4px rgb(167, 164, 171) solid;
    border-top: 4px #52006d solid;
    border-radius: 50%;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.download-button {
    font-family: sans-serif;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    padding: 0.3em 0.8em;
    background: linear-gradient(45deg, #2b71ad, #0c7162);
    color: #fff;
    box-shadow: 0 0.4em 0.4em rgba(0, 0, 0, 0.25);
    border-radius: 0.4em;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 5px;
}

.download-button:hover {
    box-shadow: 0 0.1em 0.25em rgba(0,0,0,0.25);
}